.logContainer {
    width: 80%;
    margin: 0 auto;
    height: 80vh;
    padding-top: 150px;
    text-align: center;
}

.logContainer h2 {
    font-weight: 300;
    text-align: center;
    font-size: 35px;
}

.logContainer input {
    font-size: 18px;
    width: 100%;
    margin-top: 10px;
    padding: 12px 10px;
    box-sizing: border-box;
    font-weight: 300;
}

.logContainer button {
    font-size: 18px;
    background: #03a9f4;
    padding: 12px;
    color: #fff;
    margin: 20px 2px;
    left: 0px !important;
    border-radius: 3px;
}

@media only screen and (min-width: 600px) {
    .logContainer {
        width: 65%;
    }
}

@media only screen and (min-width: 768px) {
    .logContainer {
        width: 58%;
    }
}

@media only screen and (min-width: 900px) {
    .logContainer {
        width: 48%;
    }
}

@media only screen and (min-width: 1200px) {
    .logContainer {
        width: 30%;
    }
}
